<app-navbar />
<p-toast />
<div class="container">
  <div class="form-proyecto">
    <h3>Datos del Proyecto</h3>
    <br />
    <form [formGroup]="formProyecto">
      <div class="fiel">
        <label for="nombre">Nombre del proyecto:</label><br>
        <input type="text" pInputText formControlName="nombre" readonly />
      </div>
      <div class="field">
        <label for="descripcion">Descripción del proyecto:</label><br>
        <input type="text" pInputText formControlName="descripcion" readonly />
      </div>
    </form>
    <p class="p1">Usuarios asignados:</p>
    <ul>
      <li *ngFor="let usuario of usuariosAsignados">
        {{usuario.nombre}} {{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}
      </li>
    </ul>
    <br>
    <p class="p1">Tus tareas:</p>
    <ul>
      <ng-container *ngIf="tareas && tareas.length > 0; else noTareas">
        <li *ngFor="let tarea of tareas">
          <ng-container *ngIf="usuarioId === tarea.usuarioId; else noTareaUsuario">
            {{tarea.descripcion}} | Estado: {{tarea.estado}}
            <form class="flex-container" [formGroup]="formTarea">
              <div *ngFor="let estado of estadosTarea" class="field-checkbox">
                <p-radioButton [inputId]="estado" [value]="estado" formControlName="estadoSeleccionado"
                  (ngModelChange)="updateTarea($event, tarea.id)" />
                <label [for]="estado" class="ml-2">
                  {{ estado }}
                </label>
              </div>
            </form>
          </ng-container>
          <ng-template #noTareaUsuario>
            <p>*No tienes tareas asignadas</p>
          </ng-template>
        </li>
      </ng-container>
      <br>
    </ul>
    <ng-template #noTareas>
      <p>*No tienes tareas asignadas</p>
    </ng-template>
  </div>
</div>