<app-navbar></app-navbar>

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">{{ tittle }}</h1>
  <hr class="my-4" />
  <p class="lead">
    Esta es una aplicación web para gestionar proyectos como parte de un proyecto escolar.
    La aplicación está construida utilizando Angular en el frontend, Firebase para la autenticación y Spring Boot como
    backend,
    con una base de datos SQL. El objetivo principal es permitir la creación, asignación y seguimiento de proyectos y
    tareas
    entre usuarios.
  </p>
  <hr class="my-4" />
  <h3>Características principales:</h3>
  <ul>
    <li>Gestión de usuarios</li>
    <li>Gestión de pryectos</li>
    <li>Gestión de tareas</li>
    <li>Persistencia de datos</li>
    <li>Interfaz de usuario dinámica</li>

  </ul>
  <hr class="my-4" />
  <h3>Estado actual</h3>
  El proyecto ya permite:
  <ul>
    <li>Autenticación de usuarios.</li>
    <li>Visualización y creación de proyectos.</li>
    <li>Gestión básica de tareas asignadas a usuarios.</li>
    <li>Persistencia de datos en el navegador y comunicación con el backend.</li>
  </ul>  
  Aúnque podría requerir ajustes en:
  <ul>    
    <li>Optimización del tiempo de carga inicial y gestión de autenticación.</li>
    <li>Manejo avanzado de errores para evitar interrupciones en la experiencia del usuario.</li>
  </ul>
</div>