<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img class="logo" [src]="logo" alt="logoApp" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarAlbion">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mis Proyectos</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/proyectos/mis-proyectos">Ver mis proyectos</a>
            </li>
            <li>
              <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/proyectos/proyectos-form">Crear un nuevo proyecto</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/proyectos/proyectos-asignados">Proyectos Asignados</a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <p>
          {{usuario?.nombre + ' ' + usuario?.apellidoPaterno + ' ' + usuario?.apellidoMaterno}}
        </p>
        <button (click)="cerrarSesion()" class="btn btn-outline-success">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</nav>