<app-navbar />
<p-toast />
<div class="container">
  <div class="form-proyecto">
    <h3>Datos del Proyecto</h3>
    <br />
    <form [formGroup]="formProyecto" (ngSubmit)="updateProyecto()">
      <div class="field">
        <label for="nombre">Nombre del proyecto:</label><br>
        <input type="text" pInputText formControlName="nombre" />
        <label for="descripcion">Descripción del proyecto:</label><br>
        <input type="text" pInputText formControlName="descripcion" />
        <button type="submit" class="btnAgregar">Guardar</button>
      </div>
      <br>
    </form>
    <p class="p1">Usuarios asignados:</p>
    <ul>
      <ng-container *ngIf="usuariosAsignados && usuariosAsignados.length > 0; else noUsuarios">
        <li *ngFor="let usuario of usuariosAsignados">
          {{usuario.nombre}} {{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}
        </li>
      </ng-container>
    </ul>
    <ng-template #noUsuarios>
      <p>*No hay usuarios asignados</p>
    </ng-template>
    <br>
    <form [formGroup]="formUsuario" (ngSubmit)="addParticpante()">
      <p class="p1">Agregar usuario:</p>
      <div class="field">
        <label for="emailUsuario">Email del usuario:</label><br>
        <input type="text" pInputText formControlName="emailUsuario" />
        <button type="submit" class="btnAgregar">Agregar usuario</button>
      </div>
      <br>
    </form>
    <p class="p1">Tareas:</p>
    <ul>
      <ng-container *ngIf="tareas && tareas.length > 0; else noTareas">
        <li *ngFor="let tarea of tareas">
          {{tarea.descripcion}} | Estado: {{tarea.estado}} | Usuario: {{tarea.nombreUsuario}}
        </li>
      </ng-container>
    </ul>
    <ng-template #noTareas>
      <p>*Aún no hay tareas asignadas</p>
    </ng-template>
    <br>
    <form [formGroup]="formTarea" (ngSubmit)="saveTarea()">
      <div class="field">
        <p class="p1">Agregar tarea:</p>
        <label for="descripcion">Tarea:</label><br>
        <input type="text" pInputText formControlName="descripcion" />
        <label for="emailUsuarioAsignado">Email del usuario a asignar:</label><br>
        <form [formGroup]="formEmail">
          <p-dropdown class="dropdown" formControlName="emailUsuarioAsignado" [options]="emailUsuariosParaTareas"
            [editable]="true" optionLabel="email" placeholder="Selecciona un email" />
          <br>
          <br>
        </form>
        <button type="submit" class="btnAgregar">Agregar tarea</button>
      </div>
    </form>
  </div>
</div>